<div class='chat-msg' [class.row-rewerse]='message.user.id === user.id'>
  <ng-container *ngIf='message.user.id !== user.id'>
    <ng-content select='[slot=foo]'></ng-content>
  </ng-container>

  <!--  <app-message-avatar [avatar]="message.user.picture"></app-message-avatar>-->
  <div class='flex-cl'>
    <div class='chat-post candy-carousel' [class.primary]='message.user.id === user.id' #candy
         (click)="candy.style.backgroundColor = '#f0f0f0'" [class]='position'>
      <ng-container *ngIf="message.type === 'text'; else image">
        {{message.text}}
      </ng-container>
    </div>
    <ng-container *ngIf='message.user.id !== user.id'>
      <ng-content select='[slot=bar]'></ng-content>
    </ng-container>


    <!--    <div class="message-author">{{message.user.displayName}}</div>-->
  </div>
</div>

<ng-template #image>
  <img class='post-img' [src]='message.text' alt='' (click)='openFullScreenImageViewer()'>
</ng-template>


<ng-template #fullscreenImage>
  <!--  <div class='fullscreen-image-container' [style.&#45;&#45;bg-image]="'url(' + message.text + ')'">
      <div class='image-viewer'>
        <img class='fullscreen-image' [src]='message.text' alt=''>
      </div>
    </div>-->

  <div class='lightbox'>
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>
    <div class='lightbox-content'>
      <img [src]='message.text' alt=''>
    </div>
  </div>


</ng-template>

